

.navbar-wrapper {
  
  width: 100vw;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 102px;
  position: absolute;
  
  .name {
    font-weight: 600;
    width: 0.5vmax;
  }
  .links-wrapper {
    padding-right: 7.5vw;
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 1;
      transition: all 0.2s ease-in-out;
      font-size: 14px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .active {
      color: black;
    }
  }
}
.logo{
  padding-left: 7.5vw;
  margin-bottom: 3vh;
  height: 50px;
  width: 50px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
}

.section-top{
  width: 100vw;
  height: auto;
  overflow: hidden;
  background-color: black;
  margin-bottom: 10vh;

}